[submodule "themes/zenburn"]
	path = themes/zenburn
	url = https://github.com/bbatsov/zenburn-emacs.git
[submodule "site-lisp/web-mode"]
	path = site-lisp/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule "themes/solarized-emacs"]
	path = themes/solarized-emacs
	url = https://github.com/bbatsov/solarized-emacs
[submodule "themes/noctilux-theme"]
	path = themes/noctilux-theme
	url = https://github.com/stafu/noctilux-theme
[submodule "themes/soft-stone-theme"]
	path = themes/soft-stone-theme
	url = https://github.com/mswift42/soft-stone-theme
[submodule "themes/emacs-leuven-theme"]
	path = themes/emacs-leuven-theme
	url = https://github.com/fniessen/emacs-leuven-theme
[submodule "themes/soft-charcoal-theme"]
	path = themes/soft-charcoal-theme
	url = https://github.com/mswift42/soft-charcoal-theme
[submodule "themes/ample-theme"]
	path = themes/ample-theme
	url = https://github.com/jordonbiondo/ample-theme
[submodule "site-lisp/emacs-for-python"]
	path = site-lisp/emacs-for-python
	url = https://github.com/gabrielelanaro/emacs-for-python
[submodule "mumamo-mode"]
	path = mumamo-mode
	url = https://github.com/traceypooh/mumamo-mode
[submodule "site-lisp/mumamo-mode"]
	path = site-lisp/mumamo-mode
	url = https://github.com/traceypooh/mumamo-mode
[submodule "site-lisp/org-mode"]
	path = site-lisp/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "site-lisp/deft"]
	path = site-lisp/deft
	url = git://jblevins.org/git/deft.git
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "snippets"]
	path = snippets
	url = https://github.com/ashishrv/snippets
